#root {
  height: 90rem;
}

.App {
  display: flex;
  flex-direction: column;
}

.input{
  width: 10rem;
  margin: 0 auto;
}

.locChoice {
  display: flex;
  flex-direction: column;
}

iframe {
  width: 500px;
  height: 800px;
  margin: 0 auto;
}